.bannercontent

{

text-align: center;
max-width: 800px;
margin: auto;

}

.bannercontent h1{ 
    font-size: 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(255, 255, 255);}

.bannercontent p{ 
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(255, 255, 255);}

.heroBanner {

background: rgb(2 2 2 / 66%) url(../images/picture01.jpg);

background-repeat: no-repeat;

background-position: 0px 100%;

background-size: cover;

background-attachment: fixed;

background-blend-mode: overlay;

padding: 124px 0;
}


.phase1{display: flex;width: 1000px;margin-left: auto;margin-right: auto;padding-top: 50px;padding-bottom: 50px;}

.column1{
flex-basis: 50%;
max-width: 50%;
display: flex;
flex-direction: column;
justify-content: right;
padding-right: 100px;

}

.phase1 { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.column2{
flex-basis: 50%;
max-width: 50%;
}



.phase2{
    display: flex;
    flex-basis: content;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: row-reverse;
    }
    
    .column3{
    flex-basis: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-right: 100px;
   ;
    
    }
    
    .phase2 { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    
    .column4{
    flex-basis: 50%;
    max-width: 50%;
    justify-content: left;

    }



    .bottomContent

{

text-align: center;
max-width: 800px;
margin: auto;

}

.bottomContent h1{ 
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(255, 255, 255);}

.bottomContent p{
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    }

.bottomBanner {

    background: rgb(2 2 2 / 66%) url(../images/picture04.jpg);
    background-repeat: no-repeat;
background-position: 0px 100%;
background-size: cover;
background-attachment: fixed;
background-blend-mode: overlay;
padding: 32px 0;
}
    
.searchus h1{ 

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    TEXT-ALIGN: center;
    font-size: 9px;
    color: #402705;
}

.searchus p{ 

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    TEXT-ALIGN: center;
    font-size: 9px;
    color: #402705;
}

.bannercontent a{
    
padding: 8px 18px;
    
display: inline-block;
    
color: #ffffffc7;
    
background-color: #00000033;
    
text-decoration: none;
    
border-radius: 6px;
    
font-weight: 300;
    
transition-duration: 0.4s;
    }


    .bottomContent a{
    
padding: 6px 18px;
    
display: inline-block;
    
color: #ffffffc7;
    
background-color: #00000033;
    
text-decoration: none;
    
border-radius: 6px;
    
font-weight: 200;
    
transition-duration: 0.4s;
    
FONT-SIZE: 10PX;
    
}